
<style>
   form label {
        width: 100pt;
        display: block;
    }

</style>

<h1 style="text-align: center">Book Page</h1>

<div>
    <h2>Добавить книгу</h2>
    {{ form(form_book) }}
</div>


<div>
<h2>Добавить журнал</h2>
    {{ form(form_magazine) }}
</div>


<table style="text-align: center; margin: auto; border: 2px solid black;">
    <thead>
        <tr>
            <th> № </th>
            <th> Название </th>
            <th> Тип </th>
        </tr>
    </thead>
    <tbody>
    {% for textDocument in textDocuments   %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ textDocument.getTitleForPrinting() }} </td>
                <td>
                    {% if 'magazine' == textDocument.getType() %} Журнал{% elseif 'book' == textDocument.getType()%} Книга {% endif %}
                </td>
            </tr>
    {% endfor %}
    </tbody>
</table>

